<nav
  mat-navigation-rail
  *ngIf="!(isSmallScreen$ | async)"
  aria-label="Main Navigation"
>
  <ng-container *ngFor="let item of navigation">
    <button
      *ngIf="!item.isExternal && item.children?.length"
      mat-navigation-rail-item
      [active]="isLinkActive(item.link)"
      aria-controls="navigationDrawer"
      [attr.aria-expanded]="currentSection === item && (showSideNav$ | async)"
      (click)="openNavigationDrawer(item)"
    >
      <mat-icon matNavigationRailItemIcon>{{ item.icon }}</mat-icon>
      <span matNavigationRailItemLabel>{{ item.label }}</span>
    </button>
    <a
      *ngIf="!item.isExternal && !item.children?.length"
      mat-navigation-rail-item
      [routerLink]="item.link"
      #link="routerLinkActive"
      [active]="link.isActive"
      routerLinkActive
      ariaCurrentWhenActive="page"
      [routerLinkActiveOptions]="{ exact: !!item.exactMatch }"
      (mouseenter)="closeNavigationDrawer()"
      (focus)="closeNavigationDrawer()"
    >
      <mat-icon matNavigationRailItemIcon>{{ item.icon }}</mat-icon>
      <span matNavigationRailItemLabel>{{ item.label }}</span>
    </a>
    <a
      *ngIf="item.isExternal"
      mat-navigation-rail-item
      [href]="item.link"
      target="_blank"
      (mouseenter)="closeNavigationDrawer()"
      (focus)="closeNavigationDrawer()"
    >
      <mat-icon matNavigationRailItemIcon>{{ item.icon }}</mat-icon>
      <span matNavigationRailItemLabel>{{ item.label }}</span>
    </a>
  </ng-container>
</nav>
<mat-divider
  *ngIf="!(isSmallScreen$ | async)"
  vertical="true"
  [@booleanFadeInOut]="showSideNav$ | async"
></mat-divider>
<mat-sidenav-container>
  <mat-sidenav
    id="navigationDrawer"
    [opened]="showSideNav$ | async"
    (closed)="closeNavigationDrawer()"
  >
    <div class="drawer-content">
      <mat-toolbar
        *ngIf="isSmallScreen$ | async"
        class="drawer-content__toolbar"
      >
        <button
          mat-icon-button
          (click)="toggleNavigationDrawer()"
          [attr.aria-expanded]="showSideNav$ | async"
          aria-label="Toggle Navigation Drawer"
        >
          <mat-icon>menu_open</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list
        class="drawer-content__navigation"
        aria-label="Navigation Drawer"
      >
        <ng-container *ngIf="isSmallScreen$ | async">
          <div
            *ngIf="isTopLevelContent"
            @fadeInOutTopLevel
            class="list-items-wrapper"
          >
            <ng-container *ngFor="let item of navigation">
              <button
                mat-list-item
                *ngIf="item.children?.length"
                (click)="forward(item)"
                [class.active]="isLinkActive(item.link)"
              >
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span matLine>{{ item.label }}</span>
                <mat-icon>arrow_forward</mat-icon>
              </button>
              <a
                *ngIf="!item.isExternal && !item.children?.length"
                mat-list-item
                [routerLink]="item.link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: !!item.exactMatch }"
              >
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span matLine>{{ item.label }}</span>
              </a>
              <a
                *ngIf="item.isExternal"
                mat-list-item
                [href]="item.link"
                target="_blank"
                (click)="closeNavigationDrawer()"
              >
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span matLine>{{ item.label }}</span>
              </a>
            </ng-container>
          </div>
          <div *ngIf="!isTopLevelContent" @fadeInOutSubsection>
            <div *ngIf="currentSection" class="list-items-wrapper">
              <button
                mat-list-item
                (click)="back()"
                aria-label="Back to Main Menu"
              >
                <mat-icon matListIcon>arrow_back</mat-icon>
                <span matLine>Main Menu</span>
              </button>
              <ng-container *ngFor="let item of currentSection.children">
                <app-drawer-navigation-item
                  [navigationItem]="item"
                  @fadeInOutNavItem
                >
                </app-drawer-navigation-item>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!(isSmallScreen$ | async)">
          <ng-container *ngIf="currentSection">
            <ng-container *ngFor="let item of currentSection.children">
              <app-drawer-navigation-item
                [navigationItem]="item"
                @fadeInOutNavItem
              >
              </app-drawer-navigation-item>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isSmallScreen$ | async">
      <button
        mat-icon-button
        (click)="toggleNavigationDrawer()"
        [attr.aria-expanded]="showSideNav$ | async"
        aria-label="Toggle Navigation Drawer"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
