<mat-navigation-rail *ngIf="!(isSmallScreen$ | async)">
  <ng-container *ngFor="let item of navigation">
    <a
      *ngIf="!item.isExternal"
      mat-navigation-rail-item
      [routerLink]="item.link"
      #link="routerLinkActive"
      [active]="link.isActive"
      routerLinkActive
      ariaCurrentWhenActive="page"
      [routerLinkActiveOptions]="{ exact: !!item.exactMatch }"
      [attr.aria-expanded]="
        item.children?.length
          ? currentSection === item && (showSideNav$ | async)
          : null
      "
      [attr.aria-label]="item.label"
      [attr.role]="item.children?.length ? 'button' : 'link'"
      [attr.aria-controls]="item.children?.length ? 'navigationDrawer' : null"
      (mouseenter)="openNavigationDrawer(item)"
      (focus)="openNavigationDrawer(item)"
    >
      <mat-icon matNavigationRailItemIcon>{{ item.icon }}</mat-icon>
      <span matNavigationRailItemLabel>{{ item.label }}</span>
    </a>
    <a
      *ngIf="item.isExternal"
      mat-navigation-rail-item
      [href]="item.link"
      target="_blank"
      [attr.aria-label]="item.label"
      (mouseenter)="openNavigationDrawer(item)"
      (focus)="openNavigationDrawer(item)"
    >
      <mat-icon matNavigationRailItemIcon>{{ item.icon }}</mat-icon>
      <span matNavigationRailItemLabel>{{ item.label }}</span>
    </a>
  </ng-container>
</mat-navigation-rail>
<mat-sidenav-container>
  <mat-sidenav
    [opened]="showSideNav$ | async"
    (mouseleave)="closeNavigationDrawer()"
    (closed)="closeNavigationDrawer()"
    id="navigationDrawer"
  >
    <div class="drawer-content">
      <mat-toolbar
        *ngIf="isSmallScreen$ | async"
        class="drawer-content__toolbar"
      >
        <button mat-icon-button (click)="toggleNavigationDrawer()">
          <mat-icon>menu_open</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list class="drawer-content__navigation">
        <ng-container *ngIf="isSmallScreen$ | async">
          <div
            *ngIf="isTopLevelContent"
            @fadeInOutTopLevel
            class="list-items-wrapper"
          >
            <ng-container *ngFor="let item of navigation">
              <mat-list-item
                *ngIf="item.children?.length"
                role="button"
                tabindex="0"
                (click)="forward(item)"
                (keydown.enter)="forward(item)"
                [class.active]="isLinkActive(item.link)"
                [attr.aria-label]="item.label"
              >
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span matLine>{{ item.label }}</span>
                <mat-icon>arrow_forward</mat-icon>
              </mat-list-item>
              <a
                *ngIf="!item.isExternal && !item.children?.length"
                mat-list-item
                [routerLink]="item.link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: !!item.exactMatch }"
              >
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span matLine>{{ item.label }}</span>
              </a>
              <a
                *ngIf="item.isExternal"
                mat-list-item
                [href]="item.link"
                target="_blank"
                [attr.aria-label]="item.label"
                (click)="closeNavigationDrawer()"
              >
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span matLine>{{ item.label }}</span>
              </a>
            </ng-container>
          </div>
          <div *ngIf="!isTopLevelContent" @fadeInOutSubsection>
            <div *ngIf="currentSection" class="list-items-wrapper">
              <mat-list-item
                (click)="back()"
                (keydown.enter)="back()"
                tabindex="0"
              >
                <mat-icon matListIcon>arrow_back</mat-icon>
                <span matLine>Main Menu</span>
              </mat-list-item>
              <ng-container *ngFor="let item of currentSection.children">
                <app-drawer-navigation-item [navigationItem]="item" @fadeInOut>
                </app-drawer-navigation-item>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!(isSmallScreen$ | async)">
          <ng-container *ngIf="currentSection">
            <ng-container *ngFor="let item of currentSection.children">
              <app-drawer-navigation-item [navigationItem]="item" @fadeInOut>
              </app-drawer-navigation-item>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isSmallScreen$ | async">
      <button mat-icon-button (click)="toggleNavigationDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
