<ng-container *ngIf="navigationItem">
  <a
    *ngIf="!navigationItem.children?.length"
    mat-list-item
    [routerLink]="navigationItem.link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: !!navigationItem.exactMatch }"
  >
    {{ navigationItem.label }}</a
  >
  <ng-container *ngIf="navigationItem.children?.length">
    <button
      mat-list-item
      cdkAccordionItem
      #disclosure="cdkAccordionItem"
      [expanded]="isChildLinkActive(navigationItem.children!)"
      [attr.aria-expanded]="disclosure.expanded"
      [attr.aria-controls]="disclosure.id"
      (click)="disclosure.toggle()"
    >
      <span matLine>{{ navigationItem.label }}</span>
      <mat-icon
        [@indicatorRotate]="disclosure.expanded ? 'expanded' : 'collapsed'"
        >expand_more</mat-icon
      >
    </button>
    <div
      class="disclosure-body"
      [@bodyExpansion]="disclosure.expanded ? 'expanded' : 'collapsed'"
      [id]="disclosure.id"
    >
      <app-drawer-navigation-item
        *ngFor="let child of navigationItem.children"
        [navigationItem]="child"
      ></app-drawer-navigation-item>
    </div>
  </ng-container>
</ng-container>
