@use "@angular/material" as mat;
@use "sass:map";

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map.get($config, foreground);

  .mat-navigation-rail-item {
    color: mat.get-color-from-palette($foreground, text);
  }
}

@mixin typography($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);

  .mat-navigation-rail-item {
    font-family: mat.font-family($config);
    font-size: mat.font-size($config, button);
    font-weight: mat.font-weight($config, body-2);
  }
}

@mixin density($config-or-theme) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }

  $density-config: mat.get-density-config($theme);
  @if $density-config != null {
    @include density($density-config);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}
