$base-width: 72px;
$top-padding: 8px;
$base-height: 72px;
$default-icon-padding: 24px;
$icon-top-padding: 14px;
$label-bottom-padding: 16px;

.mat-navigation-rail {
  display: block;
  width: $base-width;
  padding-top: $top-padding;
  -webkit-tap-highlight-color: transparent;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.mat-navigation-rail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
  height: $base-height;
  width: 100%;

  .mat-navigation-rail-item__icon {
    padding-top: $default-icon-padding;
    padding-bottom: $default-icon-padding;
  }

  &.mat-navigation-rail-item-with-label {
    .mat-navigation-rail-item__icon {
      padding-top: $icon-top-padding;
      padding-bottom: 0;
    }
    .mat-navigation-rail-item__label {
      padding-top: 0;
      padding-bottom: $label-bottom-padding;
    }
  }
}
