$base-width: 72px;
$top-padding: 8px;
$base-height: 72px;
$default-icon-padding: 24px;
$icon-top-padding: 14px;
$label-bottom-padding: 16px;

.mat-navigation-rail {
  display: block;
  padding-top: $top-padding;
  -webkit-tap-highlight-color: transparent;

  a {
    text-decoration: none;
  }
}

.mat-navigation-rail-item {
  position: relative;
  cursor: pointer;
  outline: none;
  height: $base-height;
  width: $base-width;
  border-radius: 50%;

  &.mat-navigation-rail-item--disabled {
    pointer-events: none;
  }

  .mat-navigation-rail-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }

  .mat-navigation-rail-item__icon {
    padding-top: $default-icon-padding;
    padding-bottom: $default-icon-padding;
  }

  &.mat-navigation-rail-item-with-label {
    .mat-navigation-rail-item__icon {
      padding-top: $icon-top-padding;
      padding-bottom: 0;
    }
    .mat-navigation-rail-item__label {
      padding-top: 0;
      padding-bottom: $label-bottom-padding;
    }
  }
}

.mat-navigation-rail-item__ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.mat-navigation-rail-item__ripple,
.mat-navigation-rail-item__content {
  border-radius: inherit;
}

button.mat-navigation-rail-item {
  padding: 0;
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  -webkit-tap-highlight-color: transparent;
  text-align: left;

  [dir="rtl"] & {
    text-align: right;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
